.message {
  width: 800px;
  height: 100px;

  position: fixed;
  top: 16px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 18px;

  color: var(--background);
  background: var(--background);

  border-radius: 4px;
  box-shadow: -2px 4px 4px -2px rgba(255, 255, 255, 0.04);

  animation: hidemessage 400ms 5s ease-out forwards;
}

.message.error {
  color: var(--foreground);
  background: var(--red);
}

.message.success {
  background: var(--green);
}

@keyframes hidemessage {
  to {
    opacity: 0;
    top: -90px;
  }
}

.alert {
  height: 100%;
  background: var(--foreground);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-around;
}

.alert .success-lottie {
  margin: 0 auto;

  width: 125px;
  height: 125px;
}

.alert .content {
  text-align: center;
  height: 100%;
  border-left: 1.5px solid var(--background);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alert .content h3 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 32px;
}

.alert .content p {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 16px;
}

.alert .content a {
  font-size: 16px;
  font-weight: bold;

  text-decoration: none;

  color: var(--foreground);
  background: var(--background);

  padding: 8px 16px;

  border-radius: 4px;
}