<!DOCTYPE html>
<html>
<head>

  {% block head %}
    <title>Desafio 4</title>
    <link rel="stylesheet" href="/style.css">
  {% endblock head %}

</head>
<body>
  <header>
    <div class="links">
      <a href="/">Professores</a>
      <a href="students">Alunos</a>
    </div>
  </header>

  {% block content %}
  {% endblock content %}
  
</body>
</html>