{% extends "layout.njk" %}
{% import "parts/card.njk" as card %}

{% block content %}

  {% call card.render() %}
    <div class="image" style="background: url({{ student.avatar_url }}) no-repeat center center / cover">
      <img >
    </div>

    <div class="details">
      <h3>Detalhes</h3>

      <div class="item">
        <div>Aluno</div>
        <div>{{ student.name }}</div>
      </div>

      <div class="item">
        <div>Email</div>
        <div>{{ student.email }}</div>
      </div>

      <div class="item">
        <div>Anivesário</div>
        <div>{{ student.birth_date }}</div>
      </div>

      <div class="item">
        <div>Ano escolar</div>
        <div>{{ student.grade}}</div>
      </div>

      <div class="item">
        <div>Carga horária semanal</div>
        <div>{{ student.workload}} horas</div>
      </div>

      <div class="item">
        <div>Professor</div>
        <div>{{ student.teacher_name }}</div>
      </div>

      <a href="/students/{{ student.id }}/edit" class="button" >Editar</a>
    </div>
  {% endcall %}
  
{% endblock content %}
