{% extends "layout.njk" %}

{% block content %}
  <div class="card">

    <div class="image" style="background: url({{ teacher.avatar_url }}) no-repeat center center / cover">
      <img >
    </div>

    <div class="details">

      <h3>Detalhes</h3>

      <div class="item">
        <div>Professor</div>
        <div>{{ teacher.name }}</div>
      </div>

      <div class="item">
        <div>Idade</div>
        <div>{{ teacher.age }}</div>
      </div>

      <div class="item">
        <div>Grau de escolaridade</div>
        <div>{{ teacher.education_level }}</div>
      </div>

      <div class="item">
        <div>Tipo de aula</div>
        <div>{{ "À distancia" if teacher.class_type == "distance" else "Presencial" }}</div>
      </div>

      <div class="item">
        <div>Acompanhamento</div>
        <div>
          {% for subject_taugth in teacher.subjects_taught %}
            <span>{{ subject_taugth  }}</span>
          {% endfor %}
        </div>
      </div>

      <div class="item">
        <div>Desde</div>
        <div>{{ teacher.created_at }}</div>
      </div>

      <a href="/teachers/{{ teacher.id }}/edit" class="button" >Editar</a>
    </div>

  </div>
{% endblock content %}