<!DOCTYPE html>
<html>
<head>

  {% block head %}
    <title>Desafio 4</title>
    <link rel="stylesheet" href="/style.css">
  {% endblock head %}

</head>
<body>
  <header>
    <nav class="links">
      <a href="/teachers">Professores</a>
      <a href="/students">Alunos</a>
    </nav>
  </header>

  {% block content %}
  {% endblock content %}
  <script src="/script.js"></script>
</body>
</html>