<!DOCTYPE html>
<html>
<head>

  {% block head %}
    <title>My Teacher</title>
    {% include "parts/styles.njk" %}
  {% endblock head %}

</head>
<body>
  <header>
    <nav class="links">
      <a href="/teachers">Professores</a>
      <a href="/students">Alunos</a>
    </nav>
  </header>

  {% block content %}
  {% endblock content %}

  {% include "parts/message.njk" %}

  <script src="/script.js"></script>
</body>
</html>